.body {
  font-family: Tahoma;
}
.winamp {
  width: 810px;
  margin: 0 auto;
}
.top,
.middle,
.bottom {
  width: 809px;
}
.top {
  height: 345px;
  position: relative;
}
.win .top {
  background: url('/images/top.png');
}
.top .timer-left {
  position: absolute;
  right: 540px;
  top: 68px;
  color: #00E100;
  font-size: 40px;
  font-family: Tahoma;
}
.top .track-name {
  top: 76px;
  font-size: 28px;
  line-height: 1.1em;
  position: absolute;
  background: #000;
  width: 454px;
  left: 328px;
  height: 32px;
  color: #0eac11;
  overflow: hidden;
}
.top .progress {
  top: 218px;
  position: absolute;
  left: 60px;
  width: 712px;
  background: none;
}
.top .progress .bar {
  height: 20px;
  background: #0eac11;
}
.top .buttons-panel {
  position: absolute;
  left: 50px;
  top: 261px;
  width: 329px;
  height: 51px;
}
.top .buttons-panel .item {
  float: left;
  width: 64px;
  height: 51px;
  background: url('/images/panel.png') no-repeat;
  cursor: pointer;
}
.top .buttons-panel .item__1 {
  background-position: 0px 0px;
}
.top .buttons-panel .item__2 {
  background-position: -64px 0px;
}
.top .buttons-panel .item__3 {
  background-position: -128px 0px;
}
.top .buttons-panel .item__4 {
  background-position: -192px 0px;
}
.top .buttons-panel .item__5 {
  background-position: -256px 0px;
  width: 73px;
}
.middle {
  height: 341px;
  position: relative;
}
.win .middle {
  background: url('/images/middle.png') repeat-y;
}
.middle .desc {
  width: 775px;
  height: 285px;
  position: absolute;
  background: #181826;
  left: 23px;
  top: 44px;
  padding: 10px 20px;
  color: #0eac11;
}
.bottom {
  height: 340px;
  padding-top: 60px;
}
.win .bottom {
  background: url('/images/bottom-top.png') no-repeat;
}
.bottom .task-info {
  color: #0eac11;
  padding-left: 40px;
  padding-right: 67px;
  font-size: 35px;
}
.win .bottom .task-info {
  background: url('/images/bottom-middle.png') repeat-y 0px 0px;
}
.bottom .task-info.active {
  color: #fff;
}
.bottom .bottom-bottom {
  height: 112px;
}
.win .bottom .bottom-bottom {
  background: url('/images/bottom-bottom.png') repeat-y;
}
.all-tracks-list {
  background: #fff;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  color: #0eac11;
  font-size: 30px;
}
